body {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    border: 4px solid black;    
    width: 450px;
    height: 550px;
    align-items: center;
    background-color: darkgray;
}

#display {
    text-align: right;
    margin: 10px;
    padding: 10px;
    align-self: stretch;
    border-radius: 10px;;
    border: 4px solid black;
    background-color: lightgray;
    color: black;
    font-size: 45px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

#buttons {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: space-between;
}

button {
    min-width: 100px;
    min-height: 80px;
    margin: 2px 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bold;
    color: white;    
    border-radius: 10px;
    border: 4px solid white;
}

button.num {
    background-color: black;    
}

button.op {
    background-color: darkorange;
}

button.func {
    background-color: red;
}

button.equals {
    flex: 2;
    background-color: green;
}

button#bsign {
    background-color: cadetblue;
}

button:disabled {
    opacity: 30%;
    border: none;
}

button:hover {
    border-color: yellow;
}

button:hover:disabled {
    border-color: white;
}

button:active {
    transform: scale(0.95);
}

button.num:active {
    background-color: #555;
}

button.op:active {
    background-color: #f1c065;
}

button.func:active {
    background-color: #eea5a5;
}

button.func:disabled:active {
    background-color: red;
}

button.equals:active {
    background-color: #abf0ab;
}

button#bsign:active {
    background-color: #8ccccf;
}

button#bsign:disabled:active {
    background-color: cadetblue;
}

